

.header__container {
    width: 100vw;
    height: 10vh;
    background-color: white;
}

.header__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    min-width: 400px;
    height: 100%;
    margin: auto;
}

.main__container{
    height: 90vh;
    background-color: #e2e2e2;
}